main {
    background: url(../images/sea.jpg) center center no-repeat;
    background-size: cover;
}

header {
    position: absolute;
    top: 10px;
    width: 100%;
}

header .login {
    float: right;
    margin-right: 20px;
    font-size: 30px;
    color: #fff;
}

.flip-modal {
    display: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 3px 4px 5px rgba(0, 0, 0,0.2)
}

.modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal .tabs {
    text-align: center;
}

.modal .tabs a {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    color: #666;
}

.modal .tabs a.active {
    border-bottom: 2px solid #444;
    color: #444;
}

.modal .content {
    padding: 20px 40px;
}

.modal .errormsg {
    color: #ff9800;
    font-size: 12px;
}

.modal .content .input-field {
    position: relative;
    margin-top: 10px;
}

.modal .content .input-field .fa {
    position: absolute;
    left: 13px;
    top: 13px;
}

.modal .content input[type=text],
.modal .content input[type=password] {
    width: 100%;
    padding: 10px 10px 10px 28px;
    outline: none;
}

.modal .content input[type=submit] {
    padding: 6px 10px;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0,0.4);
    outline: none;
}

.flip-modal.login .modal-login,
.flip-modal.register .modal-register {
    /*模态框登录状态下沿着Y轴旋转0度*/
    transform: translate(-50%, -50%) rotateY(0deg); 
    /*背部隐藏*/
    backface-visibility: hidden;
    /*反转时长*/
    transition: all 1s;
}
.flip-modal.login .modal-register,
.flip-modal.register .modal-login {
    /*模态框注册状态下沿着Y轴旋转180度*/
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1s;
}